[tool.poetry]
name = "nekore"
version = "0.1.0"
description = "Create operating cost statements for apartment buildings."
authors = ["Starbat <45294825+Starbat@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Starbat/nekore"

[tool.poetry.dependencies]
python = "^3.12"
fpdf2 = "^2.7.8"

[tool.poetry.group.dev.dependencies]
black = "^24.2.0"
mypy = "^1.8.0"
flake8 = "^7.0.0"
pytest = "^8.0.2"
types-fpdf2 = "^2.7.8.20240217"
flake8-bugbear = "^24.2.6"
flake8-pyproject = "^1.2.3"

[tool.mypy]
disallow_untyped_defs = true

[tool.isort]
profile = "black"

[tool.flake8]
max-line-length = 80
extend-select = "B950"
extend-ignore = ["E203", "E501", "E701"]
per-file-ignores = ["__init__.py:F401"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
